.listTickets {
    border-radius: 6px;
    background-color: #fbfbfb;
    box-shadow: 1px 3px 5px #e8e9ea;
}
.listTickets .card-body {
    padding: 1rem 0 0;
}

.ticketId {
    font-size: 13px;
    font-weight: 700;
    color: #343a40;
    padding: 0 8px;
}
.status {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    border-radius: 0 5px 5px 0;
}
.open{
    background-color: #009688;
}
.inProgress{
    background-color: #17a2b8;
}
.onHold{
    background-color: #d39e00;
}
.solved{
    background-color: #0062cc;
}
.closed{
    background-color: #dc3545;
}
.subject {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0;
}
.dateTicket {
    font-size: 13px;
}
.description {
    color: #565656;
}
.actions-fa {
    width: 150px;
    text-align: center;
}
.priority {
    font-weight: 500;
}
.medium{
    font-weight: 500;
    color: #17a2b8;
}
.urgent{
    font-weight: 500;
    color: #E5343D;
}
.low{
    font-weight: 500;
    color: #d39e00;
}
.actions-fa i {
    cursor: pointer;
    color: #fff;
    margin-right: 4px;
    font-size: 13px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
}
.fa-pencil-alt{
    background-color: #009688;
    border: 1px solid #009688;
}
.fa-trash-alt{
    background-color: #E5343D;
    border: 1px solid #E5343D;
}
.fa-eye{
    background-color: #d39e00;
    border: 1px solid #d39e00;
}
.fa-pencil-alt:hover{
    background-color: transparent;
    color: #009688;
}
.fa-trash-alt:hover{
    background-color: transparent;
    color: #E5343D;
}
.fa-eye:hover{
    background-color: transparent;
    color: #d39e00;
}